<div *ngIf="repo.name">
    <div class="container ">
        <div>
            <h1>Repositories <sup class="icon btn-success">--</sup> </h1>
            <hr>
        </div>
        <div class="repos-field">
            <div class="area">
                <blockquote class="let repo of repos">
                    <h4 class="heading">{{repo.name}} <span ><a href="{{repo.live}}">Live Site</a></span></h4>
                    <p>{{repo.description}}</p>
                    <hr>
                </blockquote>
            </div>
        </div>
    </div>
</div>