<div class="jumbotron">
    <div class="row">
        <div class="col-md-8">
            <h1>GittY</h1>
        </div>
        <div class="col-md-4 search-area">
            <input class="search form-control mr-sm-2" type="text" placeholder="Input Github Username">    
        </div>
    </div>
    <button class="d-inline">Profile</button>
    <button class="d-inline">Repos</button>
</div>
<div *ngIf="user">
    <div class="container">
        <div class="row">
            <div class="col-md-6 user-icon">            
                <img class="icon" src={{user.avatar_url}}>                                
                <a href="{{user.html_url}}" target="_blank"><button class="btn btn-success btn-md">View Profile on Github</button></a>
            </div>
            <div class="col-md-5 user-details">
                <div class="names">
                    <h2>{{user.name}}</h2>
                    <h3>{{user.login}}</h3>
                </div>
                <h4>{{user.email}}</h4>
                <div class="follows-area">
                    <h5>Followers: <span>{{user.followers}}</span></h5>
                    <h5>Following: <span>{{user.following}}</span></h5>                    
                </div>
                <div class="repos-area">
                    <h5>Public Repos: <span>{{user.public_repos}}</span></h5>   
                    <h5>Public Gists: <span>{{user.public_gists}}</span></h5>
                </div>
                <div class="bio-area">
                    <p class="bio">Bio:</p>
                    <textarea rows="3" style="width: 25em;"readonly>{{user.bio}}</textarea>
                </div>    
            </div>
        </div>
    </div>
</div>
<hr>
<div class="container ">
    <div class="heading">
        <h1>Repositories<span class="icon btn-success">{{user.public_repos}}</span> </h1>
        <hr>
    </div>
    <div class="area" *ngFor = "let repo of repos">
        <blockquote  class="repo">
            <h5>{{repo.name}} <span *ngIf="repo.homepage"><a href="{{repo.homepage}}">Live Site</a></span></h5>
            <p>{{repo.description}}<span><a href="{{repo.html_url}}">View page here </a></span></p>
            <hr>
        </blockquote>
    </div>
</div>