<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js"></script>
    </head>
    <body>
<div *ngIf="user.name">
    <div class="container">
        <div class="row">
            <div class="col-md-4 user-icon">            
                <img class="icon" src="{{user.avatar}}">                                
                <a href="{{user.email}}" target="_blank"><button class="btn btn-success btn-md">View Profile on Github</button></a>
            </div>
            <div class="col-md-7 user-details">
                <div class="names">
                    <h2>{{user.name}}</h2>
                    <h3>{{user.username}}</h3>
                </div>
                <h4>{{user.email}}</h4>
                <div class="follows-area">
                    <h5><span class="num">{{user.followers}}</span> FOLLOWERS </h5>
                    <h5>FOLLOWING <span class="num">{{user.following}}</span></h5>                    
                </div>
                <div class="repos-area">
                    <h5><span class="num">{{user.repos}}</span> PUBLIC REPOS </h5>   
                    <h5 *ngIf="user.gists">PUBLIC GISTS <span class="num">{{user.gists}}</span></h5>
                </div>
                <div class="bio-area">
                    <p>Bio:
                        <textarea rows="3" style="width: 25em;"readonly>{{user.bio}}</textarea>
                    </p>
                </div>    
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(".num").counterUp({delay:30,time:1000});
</script>
</body>
</html>