.user-icon {
    min-width: 450px;
}
.icon{
    margin-left: 75px;
    margin-right: 75px;
    border-radius: 50%;
    height: 400px;
    width: 400px;
}

.user-details{
    padding: 30px;
    text-align: center;
}
.user-details h2 {
    display: inline;
    font-size: 50px;
}
.user-details h4 {
    display: inline;
    font-size: 30px;
    padding-left: 60px;
}
.user-details h5{
    display: inline;
    padding-left: 15px;
    padding-right: 15px;
}
.follows-area {
    padding-top: 10px;
    padding-bottom: 10px;
}

.repos-area {
    padding-top: 15px;
    padding-bottom: 15px;
    display: inline;
}

.bio-area {
    padding-top: 15px;
}
.num {
    font-size: 20px;
}